.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.about-card p {
    margin-bottom: 1rem;
}

.highlight {
  color: var(--main-accent);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.skills-box h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: lowercase;
}

/* badges base style */
.skill-badges {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.1rem;
  gap: 0.4rem;
  justify-content: center;
}

.skill-badges span {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
  color: white;
}

.skills-box:nth-child(1) .skill-badges span { background-color: rgba(138, 255, 123, 0.151); } /* comfortable */
.skills-box:nth-child(2) .skill-badges span { background-color: rgba(255, 200, 123, 0.151); } /* partial */
.skills-box:nth-child(3) .skill-badges span { background-color: rgba(255, 123, 123, 0.151); } /* learning */
.skills-box:nth-child(4) .skill-badges span { background-color: rgba(180, 123, 255, 0.151); } /* additional */

.skill-badges span:hover {
  background-color: rgb(255, 255, 255) !important;
  color: black;
  transform: scale(1.1);
}
